@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.custom-sidebar {
  font-size: 20px;
}

.custom-sidebar .ant-menu-item {
  margin: 0;
  width: 100%;
  border-radius: 0;
  color: #767676;
}

.custom-sidebar .ant-menu-item-selected {
  border-right: 3px solid var(--primary-color, transparent);
  color: var(--primary-color) !important;
}

.custom-sidebar .ant-menu-item > span,
.custom-sidebar .ant-menu-item > svg {
  font-size: 16px !important;
}
